<div class='nested-fields admin-input'>
   <div class="field">
     <%= f.text_field :words %>
   </div>
   <div class="field">
     <%= f.number_field :points %>
   </div>
   <%= link_to_remove_association f do %>
      <span class="remove_object">&times;</span>
   <% end %>
 </div>
