<% games.each do |game|%>
  <div class="row single-object game-object" id="gameID<%=game.id%>">
    <%= render partial: 'admins/games/game_row', locals: { game: game } %>
  </div>
<% end %>

<% if games.next_page || games.prev_page %>
  <div class="row resource-paginate">
    <%= paginate games, remote: true  %>
  </div>
<% end %>
