<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h5><%= game.new_record? ? "ADD GAME" : "EDIT GAME"%></h5>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
          <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
            <% method = game.new_record? ? :post : :put %>
            <% url_action = game.new_record? ? "create" : "update" %>
            <%= form_for game, url: { action: url_action, controller: "admins/games" }, multipart: true, method: method, remote: true do |f| %>
              <div class="admin-input-container">
                <div class="admin-label">
                    <%= label_tag(:title, "Title") %> <%=content_tag('span', "", id: "error_title", class: "admin-input-error")%>
                </div>
                <div class="admin-input">
                  <%= f.text_field :title, placeholder: "Title", tabindex: 0  %>
                </div>
              </div>

              <div class="admin-input-container">
                <div class="admin-label">
                    <%= label_tag(:question, "Question") %> <%=content_tag('span', "", id: "error_question", class: "admin-input-error")%>
                </div>
                <div class="admin-input">
                  <%= f.text_field :question, placeholder: "Question"  %>
                </div>
              </div>

              <div class="admin-input-container">
                <div class="admin-label">
                    <%= label_tag(:answers, "Answers and Points") %>
                </div>
                <div id='answers'>
                  <%= f.fields_for :answers do |answer| %>
                    <%= render 'admins/games/answer_fields', :f => answer %>
                  <% end %>
                  <div class='links'>
                    <%= link_to_add_association f, :answers do %>
                       <span class="ion-android-add-circle"></span>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="admin-input-container">
                <div class="admin-label">
                    <%= label_tag(:video_id, "VIDEO ID") %> <%=content_tag('span', "", id: "error_video_id", class: "admin-input-error")%>
                </div>
                <div class="admin-input">
                  <%= f.text_field :video_id, placeholder: "VIDEO ID"  %>
                </div>
              </div>

              <div class="admin-input-container">
                <div class="admin-label">
                    <%= label_tag(:access_token, "Access Token") %> <%=content_tag('span', "", id: "error_access_token", class: "admin-input-error")%>
                </div>
                <div class="admin-input">
                  <%= f.text_field :access_token, placeholder: "Access Token"  %>
                </div>
              </div>

              <div class="admin-input-container">
                  <div class="admin-form-action-container">
                    <%= f.submit "SAVE", class: "normal btn" %>
                  </div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
