<div class="col-md-3  text-wrap"><span class="orange-titles"><%=game.title%></span></div>
<div class="col-md-3  text-wrap"><span class="orange-titles"><%=game.question%></span></div>
<div class="col-md-2  text-wrap"><%generate_answer_list(game)%></div>
<div class="col-md-1  text-wrap"><%=game.video_id%></div>
<div class="col-md-1  text-wrap"><%= game.access_token %></div>
<div class="col-md-2 actions">
  <%=link_to edit_admins_game_path(game), remote: true, class: "success" do %>
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>EDIT
  <% end %>
  <%=link_to admins_game_path(game), remote: true, method: :delete, data: { confirm: "Are you sure?" }, class: "warning" do %>
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>DELETE
  <% end %>
</div>
