<% if @game.errors.blank? %>
  var modal = document.getElementById('allModal');
  modal.style.display = "none";

  var html = "<div class='row single-object game-object' id='gameID<%=@game.id%>'>" +
              "<%= escape_javascript( render partial: 'admins/games/game_row', locals: { game: @game.decorate } ) %>" +
              "</div>";
  if ($(".game-object:first").length > 0) {
    $(".game-object:first").before(html);
  }
  else {
    $("#gameResources").prepend(html);
  }
<% else %>
  <% @game.errors.messages.each do |k,v| %>
    var errorID = "<%=k.to_s%>";
    var errorMsg = "<%=v.first%>";
    $("#error_"+errorID).show().html(errorMsg).delay(5000).fadeOut(400);
  <% end %>
<% end %>
