<% provide(:title, "Admin Games Types") %>
<div class="row single-page-resources">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8"><h5>GAMES</h5></div>
          <div class="col-xs-7 col-sm-3 col-md-3 col-lg-3 flex-end">
            <%=form_tag(admins_games_path, method: :get, remote: true) do %>
              <i class="fa fa-search"></i>
              <%=text_field_tag 'search', nil, placeholder: "Search", id: "searchResources" %>
            <% end %>
          </div>
          <div class="col-xs-5 col-sm-2 col-md-2 col-lg-1 flex-end">
            <%=link_to new_admins_game_path, remote: true, class: "add-object" do %>
              CREATE <i class="fa fa-plus"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body single-page-resources">
        <div class="row resource-headers">
          <div class="col-md-3"><h5>Title</h5></div>
          <div class="col-md-3"><h5>Question</h5></div>
          <div class="col-md-2"><h5>Answers</h5></div>
          <div class="col-md-1"><h5>FB Video ID</h5></div>
          <div class="col-md-1"><h5>Access Token</h5></div>
          <div class="col-md-2"><h5>Action</h5></div>
        </div>
        <div id="gameResources">
          <%= render partial: 'admins/games/game_resources', locals: { games: @games } %>
        </div>
      </div>
    </div>
  </div>
</div>
