<% if @game.errors.blank? %>
  var modal = document.getElementById('allModal');
  modal.style.display = "none";
  var game_id = "<%=@game.id%>";
  $("#gameID"+game_id).html("<%= escape_javascript( render partial: 'admins/games/game_row', locals: { game: @game } ) %>");
<% else %>
  <% @game.errors.messages.each do |k,v| %>
    var errorID = "<%=k.to_s%>";
    var errorMsg = "<%=v.first%>";
    $("#error_"+errorID).show().html(errorMsg).delay(5000).fadeOut(400);
  <% end %>
<% end %>
