<div class="stub-container"></div>

<div class="game-container">
  <div class="game-title-container" id="gameTitleContainer" data-game-id="<%= @game.id %>" data-video-id="<%= @game.video_id %>" data-access-token="<%= @game.access_token %>">
    <%=@game.question.upcase%>
  </div>
  <div class="game-answers-container">
    <div class="game-answers-container">
      <%@answers.each_with_index do |answer, index|%>
        <div class="answer pull-left">
          <p class="<%=answer.answer_status%>" id="answerID_<%=answer.id%>">
            <span><%= answer.open? ? answer.words_and_points : index+1%></span>
          </p>
        </div>
      <%end%>
    </div>
  </div>
</div>
