<div class="admin-login">
  <%=image_tag("defensil.png", alt: '')%>
  <h3 class="text-space">DEFENSIL</h3>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, placeholder: "Email", autofocus: true %>
      <%= f.input :password, placeholder: "Password", required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "LOGIN" %>
    </div>
  <% end %>
</div>
