App.games = App.cable.subscriptions.create('GamesChannel', {
  received: function(data) {
    var answerId = '#answerID_'+data['answer_id']
    $(answerId).css({'background-image': 'url(<%= asset_path("open.png")%>)', 'color': '#f68a1e'})
    $(answerId+" span").html(data['answer'] + " (" + data['points'] + " pts)")
    answerFontsize($(answerId+" span"))
  }
});
