@import 'default-colors';
@import 'default-font-sizes';

body {
  background-color: transparent;
}

.text-space {
  letter-spacing: 10px;
}

.admin-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;

  .text-space {
    color: $defensil-orange;
  }

  img {
    margin-bottom: 10px;
    width: 100%;
  }

  form {
    width: 100%;

    label { display: none; }

    input::-webkit-input-placeholder { // Chrome/Opera/Safari
      color: $defensil-gray;
      font-style: italic;
      text-align: center;
    }

    input::-moz-placeholder { // Firefox 19+
      color: $defensil-gray;
      font-style: italic;
      text-align: center;
    }

    input:-ms-input-placeholder { // IE 10+
      color: $defensil-gray;
      font-style: italic;
      text-align: center;
    }

    input:-moz-placeholder { // Firefox 18-
      color: $defensil-gray;
      font-style: italic;
      text-align: center;
    }

    input {
      box-shadow: 0 0 10px -3px $defensil-gray;
      height: 45px;
      margin-bottom: 10px;
      padding: 10px;
      width: 100%;
    }
  }
}

.admin-nav {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px 0;
  padding: 0 10px;

  a {
    color: $defensil-orange;
    font-size: $default-font-14;

    &:hover {
      color: $defensil-orange;
    }
  }

  .logo {
    flex: 1;
    a {
      display: flex;
      justify-content: center;

      img {
        height: 100%;
        width: 100px;
      }
    }
  }

  .resources {
    flex: 3;

    ul {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: space-evenly;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .admin-settings {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding: 0 15px;
}

.panel {
  border-radius: 0;
}

.panel .panel-heading {
  border-bottom: 0;
  color: $defensil-orange;

  div {
    min-height: 40px;
    padding: 0;
  }

  .flex-end {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .flex-end-bottom {
    align-items: flex-end;
    display: flex;
    justify-content: center;

    .panel-heading-links {
      align-items: center;
      background-color: $defensil-darker-gray;
      bottom: -10px;
      color: $defensil-white;
      display: flex;
      font-size: $default-font-14;
      justify-content: center;
      margin: 0 1px;
      padding: 10px;
      position: relative;

      &:hover {
        background-color: $defensil-orange;
      }

      .objects-counter {
        align-items: center;
        background-color: $defensil-white;
        border-radius: 100%;
        color: $defensil-orange;
        display: flex;
        font-size: 10px;
        font-weight: bold;
        height: 15px;
        justify-content: center;
        margin-left: 10px;
        width: 15px;
      }
    }

    .active {
      background-color: $defensil-orange;
    }
  }

  form {
    display: flex;

    i {
      color: $defensil-gray;
      left: 25px;
      padding-top: 7px;
      position: relative;
    }

    input::-webkit-input-placeholder { // Chrome/Opera/Safari
      color: $defensil-gray;
      font-style: italic;
      padding-left: 25px;
    }
    input::-moz-placeholder { // Firefox 19+
      color: $defensil-gray;
      font-style: italic;
      padding-left: 25px;
    }
    input:-ms-input-placeholder { // IE 10+
      color: $defensil-gray;
      font-style: italic;
      padding-left: 25px;
    }

    input:-moz-placeholder { // Firefox 18-
      color: $defensil-gray;
      font-style: italic;
      padding-left: 25px;
    }

    input {
      border: 0;
      border-radius: 15px;
      height: 30px;
      padding-left: 30px;
    }
  }

  a.add-object {
    background-color: $defensil-orange;
    color: $defensil-white;
    font-size: 12px;
    padding: 3px 15px;

    i { font-size: 15px; }
  }
}

.single-page-resources {
  min-height: calc(100vh - 213px);
}

.orange-titles {
  color: $defensil-orange;
}

.dark-gray-titles {
  color: $defensil-darker-gray;
}

.panel-body {
  padding: 0;

  .single-object {
    box-shadow: 0 2px 2px -2px $defensil-gray;
    padding: 15px;

    .text-wrap {
      word-wrap: break-word;
    }

    .actions {
      .success { margin-right: 20px;}
    }
  }

  .flex-object-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.panel-body.resources-body {
  min-height: 350px;
}

.no-padding {
  padding: 0;
}

.nested-fields.admin-input {
  display: flex;

  .field { flex-grow: 1 }
}

.remove_object {
  color: $defensil-orange;
  font-size: $default-font-26;
}

.links {
  text-align: center;
  .add_fields {
    color: $defensil-orange;
    span {
      font-size: $default-font-30;
    }
  }
}

.admin-input {
  margin-bottom: 10px;

  input::-webkit-input-placeholder { // Chrome/Opera/Safari
    color: $defensil-gray;
    font-style: italic;
  }

  input::-moz-placeholder { // Firefox 19+
    color: $defensil-gray;
    font-style: italic;
  }

  input:-ms-input-placeholder { // IE 10+
    color: $defensil-gray;
    font-style: italic;
  }

  input:-moz-placeholder { // Firefox 18-
    color: $defensil-gray;
    font-style: italic;
  }

  textarea::-webkit-input-placeholder { // Chrome/Opera/Safari
    color: $defensil-gray;
    font-style: italic;
  }

  textarea::-moz-placeholder { // Firefox 19+
    color: $defensil-gray;
    font-style: italic;
  }

  textarea:-ms-input-placeholder { // IE 10+
    color: $defensil-gray;
    font-style: italic;
  }

  textarea:-moz-placeholder { // Firefox 18-
    color: $defensil-gray;
    font-style: italic;
  }

  textarea {
    border: 0;
    box-shadow: 0 3px 1px -2px $defensil-gray;
    resize: none;
    width: 100%;
  }

  input {
    border: 0;
    box-shadow: 0 3px 1px -2px $defensil-gray;
    height: 30px;
    padding: 5px;
    width: 100%;
  }

  .input-display-none {
    display: none;
  }

  select {
    background-color: transparent;
    border: 0;
    box-shadow: 0 2px 1px -2px $defensil-gray;
    height: 30px;
    padding: 5px;
    width: 100%;
  }
}

.admin-form-action-container {
  background-color: $defensil-white;
  margin: 15px 0;
  padding: 5px;
  text-align: center;
  width: 100%;

  input[type="submit"] {
    padding-left: 30px;
    padding-right: 30px;

    &.btn {
      border-radius: 3px;
      box-shadow: 0 2px 1px -2px $defensil-gray;
      color: $defensil-white;
      font-weight: bold;
      width: 40%;
    }

    &.normal { background-color: $defensil-orange; }

    &.success { background-color: $defensil-green; }

    &.warning { background-color: $defensil-red; }
  }
}

.admin-input-error {
  color: $defensil-red;
}

// ----------- FOOTER - START -----------
footer {
  bottom: 0;
  color: $defensil-orange;
  display: inline-block;
  float: right;
  font-size: $default-font-14;
  margin-right: 10px;
  padding: 10px;
  position: relative;

  a {
    color: $defensil-orange;
    margin-right: 10px;
  }

  a:hover { color: $defensil-white; }
}
// ----------- FOOTER - END -----------

// ----------- MODAL - START -----------
// The Modal (background)
#allModal.modal {
  display: none; // Hidden by default
  position: fixed; // Stay in place
  z-index: 1; // Sit on top
  left: 0;
  top: 0;
  width: 100%; // Full width
  height: 100%; // Full height
  overflow: auto; // Enable scroll if needed
  background-color: rgb(0, 0, 0); // Fallback color
  background-color: rgba(0, 0, 0, 0.4); // Black w/ opacity
  transition: .3s;

  .row { padding: 0;}
  // Modal Content/Box
  .modal-content {
    background-color: $defensil-white;
    margin: 15% auto; // 15% from the top and centered
    padding: 30px 10px 10px;
    border: 1px solid $defensil-darker-gray;
    width: 90%; // Could be more or less, depending on screen size
  }

  // The Close Button
  .close {
    color: $defensil-orange;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
    position: fixed;
    right: 35px;
    top: 15px;
    transition: .3s;
  }

  .close:hover,
  .close:focus {
    color: $defensil-orange;
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
  }
}
// ----------- MODAL - END -----------

// ----------- INPUT SWITCH SLIDER - START ----------
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: $defensil-gray;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 0;
  bottom: -4px;
  background-color: $defensil-red;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 3px 2px $defensil-gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: $defensil-green;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
// ----------- INPUT SWITCH SLIDER - END -----------
