@import 'default-colors';
@import 'default-font-sizes';

body {
  background-image: asset-url('background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}

.game-title-container {
  background-color: transparent;
  background-image: asset-url('question.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $defensil-black;
  font-size: $default-font-30;
  font-weight: 700;
  height: 115px;
  margin-bottom: 15px;
  padding: 15px 17px;
  text-align: center;
  width: 427px;
  word-wrap: break-word;
}

.game-answers-container {
  background-color: $defensil-black;
  border-radius: 25px;
  padding: 5px;
  width: 100%;
}

.answer {
  align-items: center;
  background-color: transparent;
  color: $defensil-white;
  display: flex;
  padding: 5px;
  width: 50%;

  p {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    height: 89px;
    justify-content: center;
    margin: 0;
    text-align: center;

    &.open-answer {
      background-image: asset-url('open.png');
      color: $defensil-orange;
      padding: 0 6px;
    }

    &.close-answer {
      background-image: asset-url('close.png');
      transition: background-image .2s ease-in-out;
    }
  }

  span {
    font-weight: 700;
  }
}

.stub-container {
  border-bottom: 70px solid transparent;
  border-left: 130px solid transparent;
  border-right: 90px solid $defensil-white;
  border-top: 100px solid $defensil-white;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}

.stub-logo {
  position: absolute;
  right: 20px;
  top: 20px;
}
