@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import 'default-colors.scss';
@import 'default-font-sizes.scss';

.ionicon {
  display: inline-block;
  font-family: 'Ionicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.remove-text-decoration { text-decoration: none }

// https://stackoverflow.com/a/4407335
.noselect {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -khtml-user-select: none; // Konqueror HTML
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version, currently
  // supported by Chrome and Opera
}

img.scalable {
  max-width: 100%;
  max-height: 100%;
}

a,
h1,
h2,
h3,
h5,
div,
input,
p {
  font-family: 'Montserrat', sans-serif;
}

a,
span,
div,
input,
label,
p {
  font-size: $default-font-14;
}

a {
  &.normal { color: $defensil-orange; }
  &.success { color: $defensil-green; }
  &.warning { color: $defensil-red; }
}
