<nav class="admin-nav">
  <div class="nav-container">
      <div class="logo">
        <%= link_to authenticated_admin_root_path do %>
          <%=image_tag("defensil.png", alt: '')%>
        <% end %>
      </div>

      <div class="resources">
        <ul>
          <li><%= link_to "GAMES", admins_games_path %></li>
        </ul>
      </div>

      <div class="admin-settings">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" id="dropdownAdminSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Welcome, Admin! <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownAdminSettings">
            <li><%=link_to 'Sign Out', destroy_admin_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
  </div>
</nav>

<!-- The Modal -->
<div id="allModal" class="modal">
  <span class="close">&times;</span>
  <!-- Modal content -->
  <div class="modal-content">
    <div id="objectHtml">Object html here</div>
  </div>
</div>
