<%# The "base" layout contains boilerplate common to *all* views. %>

<!DOCTYPE html>
<html>
  <head>
    <!-- Facebook Live Defensil <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

    <%# CSS should go closest to the top of the document as possible. %>
    <%= stylesheet_link_tag("application",
                            :media => "all",
                            "data-turbolinks-track" => true) %>

    <%= stylesheet_link_tag("admin", :media => "all") %>

    <%# JavaScript must be in head for Turbolinks to work. %>
    <%= javascript_include_async_tag("application",
                                     "data-turbolinks-track" => true) %>
    <%= javascript_include_async_tag("admin") %>

    <%= yield(:head) %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# Specifies the default name of home screen bookmark in iOS 6+ %>
    <meta name="apple-mobile-web-app-title" content="Facebook Live Defensil">

    <%= csrf_meta_tags %>

    <title>
      <%= strip_tags(yield(:title)) + " – " if content_for?(:title) %>
      Admin - Facebook Live Defensil
    </title>
  </head>
  <body>
    <%= render("shared/admin/nav") unless controller_path = "admins/sessions" && action_name == "new" %>
    <%= yield %>
    <%= render("shared/admin/footer") %>
  </body>
</html>
